<%= render partial: "shared/errors_display" %>
<%= form_for @question do |f| %>
<p>
<%= f.label :Title %>
<%= f.text_field :title, :placeholder => "what's your programming question? be specific.", :class => 'title-text_field' %><br>
</p>
<div class="details">
  <%= f.text_area :details, :class => 'details-text_field' %>
</div>

<%= f.submit value = "Post Your Question", :class => 'post-button' %>
<% end %>
